<!DOCTYPE html>
<html lang="ru">

<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFRV5VZ');</script>
<!-- End Google Tag Manager -->
<meta charset="utf-8">
<title>
::EVENTNAME2::
</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/theme.min.css">
<link rel="stylesheet" href="../assets/css/styles.css">
<link rel="stylesheet" href="../assets/css/color-defaults.min.css" media="screen">
<link rel="stylesheet" href="../assets/css/swatch-white.css" media="screen">
<link rel="stylesheet" href="../assets/css/swatch-blue.css" media="screen">
<link rel="stylesheet" href="../assets/css/swatch-gray.min.css" media="screen">
<link rel="stylesheet" href="../assets/css/swatch-black.min.css" media="screen">
<link rel="stylesheet" href="../assets/css/swatch-white-black.min.css" media="screen">
<link rel="stylesheet" href="../assets/css/swatch-white-green.min.css" media="screen">
<link rel="stylesheet" href="../assets/css/swatch-white-red.min.css" media="screen">
<link rel="stylesheet" href="../assets/css/fonts.min.css" media="screen">
	
<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="utf-8"></script>
    
<meta property="og:type" content="website" />
<meta property="og:title" content="
::EVENTNAME2::
" />
<meta property="og:description" content="
::EVENTNAME2::
" />
<meta property="og:image" content="https://webcast.lextorium.com/assets/images/lextorium_logo.png" />

<link rel="shortcut icon" href="https://lextorium.com/favicon.ico" />
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="https://lextorium.com/favicon.ico">
<link rel="apple-touch-icon" sizes="152x152" href="https://lextorium.com/favicon-152-precomposed.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://lextorium.com/favicon-144-precomposed.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://lextorium.com/favicon-120-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://lextorium.com/favicon-114-precomposed.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://lextorium.com/favicon-180-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://lextorium.com/favicon-72-precomposed.png">
<link rel="apple-touch-icon" href="https://lextorium.com/favicon-57.png">
<link rel="icon" href="https://lextorium.com/favicon-32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="https://lextorium.com/favicon-144.png">
<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="https://lextorium.com/manifest.json">
<link rel="icon" sizes="192x192" href="https://lextorium.com/favicon-192.png">

<script>
var castactive = 0;
::EVENTID::
</script>
            
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://lextorium.com/kernel-js/helpers/attach.rurls.js"></script>
</head>

<body class="normal-header">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFRV5VZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="fb-root"></div>
<script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>
<section class="section swatch-black" id="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">

::EVENTUSERBLOCK::
                    
            </div>
        </div>
    </div>
</section>
<div class="pace-overlay"></div>
<div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a href="https://www.lextorium.com" class="navbar-brand">
                <img src="../assets/images/lextorium_logo.png" alt="Lextorium"  style="height:auto; width:auto; max-width:170px; max-height:90px;">
            </a>
        </div>
<nav class="collapse navbar-collapse main-navbar" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown menu-item-object-oxy_mega_menu ">
                    <a href="https://www.lextorium.com">Главная</a>
                </li>
                <li class="dropdown">
                    <a href="https://education.lextorium.com">Курсы</a>
                </li>
                <li class="dropdown">
                    <a href="https://webcast.lextorium.com/">Трансляции</a>
                </li>
                <li class="dropdown">
                    <a href="https://www.lextorium.com/novosti.shtml">Новости</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">О портале&nbsp;<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://www.lextorium.com/o-nas.shtml">О нас</a>
                        </li>
                        <li>
                            <a href="https://www.lextorium.com/contact.shtml">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="https://www.lextorium.com/corp.shtml">Корпоративным клиентам</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div id="head-breadcrumb">
    <section class="section swatch-white section-inner-shadow">
        <div class="container">
            <div class="row">
                <div class="nav-breadcrumb col-md-7">
                    <ol class="breadcrumb">
                        <li><a href="https://www.lextorium.com">Главная</a>
                        </li>
                        <li><a href="https://webcast.lextorium.com">Вебинары и семинары</a>
                        </li>
                        <li class="active">
::EVENTNAME1::
                        </li>
                    </ol>
                </div>
                <div class="nav-breadcrumb col-md-5">
                </div>
            </div>
        </div>
    </section>
</div>
<div id="content">
    <article>

        <section class="section swatch-blue section-text-shadow section-inner-shadow">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header class="text-left element-short-top element-short-bottom os-animation not-condensed" data-os-animation="none" data-os-animation-delay="1s">
                            <h1 class="bigger light bordered-normal">
::EVENTNAME2::
        						</h1>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        <section id="two" class="section swatch-white">
            <div class="container">
                <div class="row element-normal-top">
                    <div class="col-md-12">
                        <section class="ssection-normal swatch-white">
                            <div class="embed-responsive embed-responsive-16by9">
                                <div class="video-overlay">
                                    <img src="../assets/images/events/frame01.jpg" alt="">
                                    <div class="video-overlay-inner">
                                        <div class="video-overlay-inner-text">
                                            <!--start телевизор-->
::SCREENSIGN::
                                        </div>

                                    </div>


                                </div>
                            </div>


                        </section>
                    </div>
					<!--<div class="col-md-6 col-xs-12 element-short-top">
						<h3>Нравится курс?</h3>
						<p style="font-size: 18px; font-weight: bold;"><a href="https://goo.gl/forms/TYT7O2Y4KpgDNj4s1" target="_blank">Оставьте отзыв&nbsp;&rarr;</a></p>
					</div>-->
					<!--<div class="col-md-8 col-xs-12 element-short-top">
						<h3>Мероприятие по теме Банкротство</h3>
						<p>
							<a href="https://cast29.lextorium.com/" title="Банкротство: механизмы сбора конкурсной массы. От ведущих практиков" target="_blank">«Банкротство: механизмы сбора конкурсной массы. От ведущих практиков»</a>. 72 академических часа. 20 часов очных/онлайн занятий. Удостоверение о повышении квалификации.<br><a href="https://cast29.lextorium.com/" title="Подробная программа тут" target="_blank"><b>Подробнее&nbsp;&rarr;</b></a>
						</p>
						<h3>Проверьте свои знания</h3>
						<p>
							<a href="https://webcast.lextorium.com/tests/59/9" title="Тест Недействительные сделки" target="_blank">Пройдите тест и оцените свои знания по теме&nbsp;&rarr;</a>
						</p>
					</div>-->
					<div class="col-md-12 col-xs-12 element-short-top">
						<h3>Присоединяйтесь к нам в соцсетях</h2>
						<div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                                    <div class="visible-xs" style="height:10px;"></div>
                                    <div class="visible-sm" style="height:10px;"></div>
                                    <div class="visible-md" style="height:10px;"></div>
                                    <div class="visible-lg" style="height:10px;"></div>
                                </div>
                        <a href="https://vk.com/lextorium" target="_blank">
                            <img src="../assets/images/social/vk.png" border="0">
                        </a>&nbsp;
                        <a href="https://www.youtube.com/channel/UChB6vfEYCsBxEd38OUCwFxw" target="_blank">
                            <img src="../assets/images/social/youtube.png" border="0">
                        </a>&nbsp;
                        <a href="https://www.facebook.com/lextorium.ru/" target="_blank">
                            <img src="https://www.lextorium.com/35fblogo.png" border="0">
                        </a>
					</div>
					
				<!--<div class="col-md-3 col-xs-12 element-short-top">
                        <h3>Поделитесь с друзьями</h3>
                        <div class="social-left">
							<script type="text/javascript">(function() {
							  if (window.pluso)if (typeof window.pluso.start == "function") return;
							  if (window.ifpluso==undefined) { window.ifpluso = 1;
								var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
								s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
								s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
								var h=d[g]('body')[0];
								h.appendChild(s);
							  }})();</script>
							<div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter" data-url="
							::CURRENTEVENTURL::
							" data-title="
							::EVENTNAME1::
							" data-description="&laquo;
							::EVENTNAME1::
							&raquo;" data-user="736271997">
							</div>
						</div>
										
                </div>
					<div class="col-md-12 col-xs-12 element-short-top">
						<p>
							27.02. <a href="https://conf1.lextorium.com/" title="Банкротство застройщиков в России" target="_blank">Научно-практическая конференция «Банкротство застройщиков в России»</a>. Участие очно или онлайн.<br><a href="https://conf1.lextorium.com/" title="Подробная программа тут" target="_blank"><b>Подробная программа тут&nbsp;&rarr;</b></a>
						</p>
					</div>-->
				</div>
                    

                <div class="row element-short-top">
                    <div class="col-md-8">
						<!--<section id="review" class="section swatch-blue text-center">
							<div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                                    <div class="visible-xs" style="height:24px;"></div>
                                    <div class="visible-sm" style="height:24px;"></div>
                                    <div class="visible-md" style="height:24px;"></div>
                                    <div class="visible-lg" style="height:24px;"></div>
                                </div>
							<h2 class="super hairline bordered-normal">Понравился курс?<h2>
							<div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                                    <div class="visible-xs" style="height:24px;"></div>
                                    <div class="visible-sm" style="height:24px;"></div>
                                    <div class="visible-md" style="height:24px;"></div>
                                    <div class="visible-lg" style="height:24px;"></div>
                                </div>
							<a href="https://goo.gl/forms/TYT7O2Y4KpgDNj4s1" class="btn btn-link btn-lg  btn-icon-right  element-no-top element-no-bottom" target="_blank">Оставьте отзыв<span><i class="fa fa-heart"></i></span></a>
							<div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                                    <div class="visible-xs" style="height:24px;"></div>
                                    <div class="visible-sm" style="height:24px;"></div>
                                    <div class="visible-md" style="height:24px;"></div>
                                    <div class="visible-lg" style="height:24px;"></div>
                                </div>
						</section>-->
                        
::MAINCHAT::
                        
                        <div class="comments padded post-showinfo broadcast-chat speakers-questions" id="speakers-questions">
                            <header class="text-left element-short-top element-short-bottom">
                                <h1 class="big black bordered bordered-normal">
                          Вопросы спикерам
                    </h1>
                            </header>
                                
::QUESTIONLIST::
<br>
<br>
                                
                            <form class="comments-body" method="post" action="https://webcast.lextorium.com/cgi-bin/sendquestion.pl">
<fieldset>

::VOPROSFORM::

                                </fieldset>
                            </form>


                            <hr>

                            <div class="element-normal-top element-normal-bottom">
                                <div class="tabbable ''">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <!-- Nav tabs -->
                                        <li class="active"><a href="#tab-1" data-toggle="tab">Программа</a>
                                        </li>
                                        <li><a href="#tab-2" data-toggle="tab">Материалы</a>
                                        </li>
                                        <li><a href="#tab-3" data-toggle="tab">Докладчики</a>
                                        </li>
                                        <li><a href="#tab-4" data-toggle="tab">Технические требования</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content none-background">
                                        <!-- Tab panes -->

                                        <div class="tab-pane fade in active black" id="tab-1">
                                            <div class="row">
											<!--<h3 style="margin-bottom: 15px;">Тема № 1. «Общие вопросы банкротства». Занятие № 1.</h3>-->
::PROGRAMMA::
                                            </div>
                                        </div>

<div class="tab-pane fade black" id="tab-2">
                                            <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                                <div id="materials" class="sidebar-widget widget_recent_entries">
                                                    <h3 class="sidebar-header">
                              Материалы
                        </h3>                                                       
                                                       
                                                    <ul>
                                                                                                                
::MATERIALS::
                                                            
                                                    </ul>                                                                                                                
                                                        
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <div class="tab-pane fade black" id="tab-3">
                                        
::SPEAKERSBLOCK::

										<br>
                                        </div>
                                        
                                        <div class="tab-pane fade black" id="tab-4">
                                            <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                                <p><strong>Для участия в онлайн-трансляции семинара, вам потребуются:</strong>
                                                </p>
                                                <ul>
                                                    <li>Последняя версия браузера Google Chrome, Firefox, Internet Explorer, Safari или Opera.</li>
                                                    <li>Интернет-подключение со скоростью не меньше 1000 Кбит/с (<a href="https://yandex.ru/internet/" target="_blank">измерить скорость подключения</a>)</li>
                                                    <li>Открытый порт на фаерволе - 1935, 80, 8080</li>
                                                    <li>Не занесен в бан адрес домена с которого играет видео и плеер.</li>
                                                </ul>
                                                <p>По техническим вопросам, пожалуйста, пишите:</p>
                                                <ul style="list-style-type: none;">
                                                    <li><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:info@lextorium.ru">info@lextorium.ru</a>
                                                    </li>
                                                    <li><i class="fa fa-skype"></i>&nbsp;<a href="skype:quotzon?chat">quotzon</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                                                                        
                                                                                        
                                    </div>
                                </div>
                            </div>

                        </div>
         


<!-- Start / Место проведения-->

<!-- Finish / Место проведения-->
			
</div>



                    <div class="col-md-4 element-short-top">
                        <!--<div id="recent-events-1" class="sidebar-widget widget_recent_events">
							<div id="partners">
								<header class="text-left element-medium-top element-short-bottom">
									<h3 class="sidebar-header">
										Организаторы
									</h3>
								</header>
								<p><a href="https://lextorium.com" target="_blank"><img style="border: 1px solid #232321; padding: 10px;" src="http://funkyimg.com/i/2EzQq.jpg" alt="Lextorium - правовая школа для юристов"></a></p>
								<br>
								<p><a href="http://privlaw-alumni.com/" target="_blank"><img style="border: 1px solid #232321; padding: 10px;" src="/assets/images/partners/rshchp_assoc_logo.jpg" alt="Ассоциация выпускников Российской школы частного права"></a></p>
								<br>
								<p><a href="https://privlaw-journal.com/" target="_blank"><img style="border: 1px solid #232321; padding: 10px;" src="/assets/images/partners/rshchp_mag_logo.jpg" alt="Журнал РШЧП"></a></p>
							</div>
                        </div>-->

                            
                        <div id="plagin-fb">
                            <div class="fb-page" data-href="https://www.facebook.com/lextorium.ru/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/lextorium.ru/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lextorium.ru/">Правовой лекториум</a>
                                </blockquote>
                            </div>
                        </div>
						<div id="recent-events-1" class="sidebar-widget widget_recent_events" style="margin-top: 25px;">
							<h3 class="sidebar-header">
								Ближайшие события
							</h3>
							<ul>
								<!--<li class="clearfix">
									<h3><a href="https://cast23.lextorium.com" title="Права на жилые и нежилые помещения в здании" target="_blank">Права на жилые и нежилые помещения в здании</a></h3>
									<small><i class="fa fa-calendar"></i>&nbsp;c 9 апреля по 28 мая 2019</small>
									<a href="https://cast23.lextorium.com" title="Права на жилые и нежилые помещения в здании" target="_blank">
										<img src="https://webcast.lextorium.com/assets/images/events/cast23-main-banner.jpg" class="attachment-thumbnail" alt="Права на жилые и нежилые помещения в здании">
									</a>
									<small class="post-date">Вероника Величко, Андрей Егоров</small>
								</li>-->
								<li class="clearfix">
									<h3><a href="https://cast26.lextorium.com" title="Договор лизинга: теория и практика" target="_blank">Договор лизинга: теория и практика</a></h3>
									<small><i class="fa fa-calendar"></i>&nbsp;30-31 мая 2019</small>
									<a href="https://cast26.lextorium.com" title="Договор лизинга: теория и практика" target="_blank">
										<img src="https://webcast.lextorium.com/assets/images/events/cast26-main-banner.jpg" class="attachment-thumbnail" alt="Договор лизинга: теория и практика">
									</a>
									<small class="post-date">Павел Меньшенин, Андрей Егоров</small>
								</li>
								<!--<li class="clearfix">
									<h3><a href="https://cast27.lextorium.com" title="Банкротство. Разбор судебной практики 2019" target="_blank">Банкротство. Разбор судебной практики 2019</a></h3>
									<small><i class="fa fa-calendar"></i>&nbsp;c 15 апреля по 1 июля 2019</small>
									<a href="https://cast27.lextorium.com" title="Банкротство. Разбор судебной практики 2019" target="_blank">
										<img src="https://webcast.lextorium.com/assets/images/events/cast27-main-banner.jpg" class="attachment-thumbnail" alt="Банкротство. Разбор судебной практики 2019">
									</a>
									<small class="post-date">Андрей Егоров</small>
								</li>
								<li class="clearfix">
									<h3><a href="https://cast28.lextorium.com" title="Обязательственное, вещное и корпоративное право: научно, познавательно, практично" target="_blank">Обязательственное, вещное и корпоративное право: научно, познавательно, практично</a></h3>
									<small><i class="fa fa-calendar"></i>&nbsp;c 14 по 30 мая 2019</small>
									<a href="https://cast28.lextorium.com" title="Обязательственное, вещное и корпоративное право: научно, познавательно, практично" target="_blank">
										<img src="https://webcast.lextorium.com/assets/images/events/cast28-main-banner.jpg" class="attachment-thumbnail" alt="Обязательственное, вещное и корпоративное право: научно, познавательно, практично">
									</a>
									<small class="post-date">Андрей Егоров, Сергей Сарбаш, Роман Бевзенко, Михаил Церковников, Мария Ерохова, Наталья Тололаева</small>
								</li>-->
								<li class="clearfix">
									<h3><a href="https://cast29.lextorium.com" title="Банкротство: механизмы сбора конкурсной массы" target="_blank">Банкротство: механизмы сбора конкурсной массы</a></h3>
									<small><i class="fa fa-calendar"></i>&nbsp;c 3 по 7 июня 2019</small>
									<a href="https://cast29.lextorium.com" title="Банкротство: механизмы сбора конкурсной массы" target="_blank">
										<img src="https://webcast.lextorium.com/assets/images/events/cast29-main-banner.jpg" class="attachment-thumbnail" alt="Банкротство: механизмы сбора конкурсной массы">
									</a>
									<small class="post-date">Андрей Егоров, Павел Хлюстов, Радик Лотфуллин, Юлия Литовцева</small>
								</li>
								
								<!--<li class="clearfix">
									<h3><a href="https://webinar29.lextorium.com" title="Теория сальдо в лизинге: актуальные вопросы" target="_blank">Теория сальдо в лизинге: актуальные вопросы</a></h3>
									<small><i class="fa fa-calendar"></i>&nbsp;16 апреля 2019 года в 14:00</small>
									<a href="https://webinar29.lextorium.com" title="Теория сальдо в лизинге: актуальные вопросы" target="_blank">
										<img src="https://webcast.lextorium.com/assets/images/events/webinar29-main-banner.jpg" class="attachment-thumbnail" alt="Теория сальдо в лизинге: актуальные вопросы">
									</a>
									<small class="post-date">Андрей Егоров</small>
								</li>-->
								<li class="clearfix">
									<h3><a href="https://webinar30.lextorium.com" title="Актуальные вопросы лизинга" target="_blank">Актуальные вопросы лизинга</a></h3>
									<small><i class="fa fa-calendar"></i>&nbsp;16 мая 2019 года в 10:00</small>
									<a href="https://webinar30.lextorium.com" title="Актуальные вопросы лизинга" target="_blank">
										<img src="https://webcast.lextorium.com/assets/images/events/webinar30-main-banner.jpg" class="attachment-thumbnail" alt="Актуальные вопросы лизинга">
									</a>
									<small class="post-date">Андрей Егоров</small>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
                
                
        </section>
        <section id="clients" class="section swatch-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-left  element-normal-top element-very-short-bottom not-condensed">
                            <h1 class="bigger hairline">
                    Слушатели Лексториум
            </h1>
                        </header>
                        <div id="clients-slider" class="flexslider element-short-top element-short-bottom" data-flex-slideshow="false" data-flex-speed="7000" data-flex-duration="600" data-flex-itemwidth="185pxpx" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal="left" data-flex-controlsposition="outside" data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                            <ul class="slides">
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/sc.png" alt="ООО «Сэтл Сити»" data-original-title="ООО «Сэтл Сити»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/br.png" alt="БАНК РОССИИ" data-original-title="БАНК РОССИИ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <!--<li>
                                        <figure>
                                            <img src="../assets/images/clients/vp.jpg" alt="восточная техника" data-original-title="восточная техника" data-toggle="tooltip">
                                        </figure>
                                    </li>-->
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/odis.png" alt="ООО «Реал Эстейт Сервис»" data-original-title="ООО «Реал Эстейт Сервис»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/orion.png" alt="ООО «Орион Экспресс»" data-original-title="ООО «Орион Экспресс»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/mf.png" alt="ПАО «МегаФон»" data-original-title="ПАО «МегаФон»" data-toggle="tooltip">
                                    </figure>
                                </li>

                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/elp.gif" alt="ЭЛКО ПРОФИ" data-original-title="ЭЛКО ПРОФИ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/nlmk.png" alt="Новолипецкий металлургический комбинат" data-original-title="Новолипецкий металлургический комбинат" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ngs.png" alt="Нефтегазсервис" data-original-title="Нефтегазсервис" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ims.png" alt="ИМС Индастриз" data-original-title="ИМС Индастриз" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/delcredere.png" alt="МГКА «Делькредере»" data-original-title="МГКА «Делькредере»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/tis.png" alt="ООО «Технологии Инвестиции Строительство»" data-original-title="ООО «Технологии Инвестиции Строительство»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/relp.png" alt="ООО «ТД «Русэлпром»" data-original-title="ООО «ТД «Русэлпром»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/lp.jpg" alt="lexprof" data-original-title="lexprof" data-toggle="tooltip">
                                    </figure>
                                </li>

                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ga.png" alt="Градиент Дистрибьюция Альфа" data-original-title="Градиент Дистрибьюция Альфа" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/uksib.png" alt="ООО УК «СИБИРЯК»" data-original-title="ООО УК «СИБИРЯК»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/vpkoil.png" alt="ООО «ВПК-Ойл»" data-original-title="ООО «ВПК-Ойл»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/polyter.png" alt="ООО «ПОЛИТЭР»" data-original-title="ООО «ПОЛИТЭР»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/uip.jpg" alt="ООО «Учет и право»" data-original-title="ООО «Учет и право»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/co.png" alt="Юридическая компания «Центральный округ»" data-original-title="Юридическая компания «Центральный округ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/aoelt.png" alt="АО «Электротранспорт»" data-original-title="АО «Электротранспорт»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/linklaters.png" alt="Филиал Частной компании с неограниченной ответственностью «Линклейтерз СНГ» (Великобритания)" data-original-title="«Линклейтерз СНГ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/polyspen.jpg" alt="ООО «ПКФ ПОЛИСПЕН»" data-original-title="ООО «ПКФ ПОЛИСПЕН»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/prometey.png" alt="ООО «Прометей право»" data-original-title="ООО «Прометей право»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/pp.png" alt="Филиал «Адвокатская консультация «Павлова и партнеры» Межреспубликанской коллегии адвокатов (г.Москва)" data-original-title="Филиал «Адвокатская консультация «Павлова и партнеры» Межреспубликанской коллегии адвокатов (г.Москва)" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/lav.jpg" alt="«Ловкина Анна Васильевна Адвокат»" data-original-title="«Ловкина Анна Васильевна Адвокат»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/vit.png" alt="ООО «ВИТ-КОНСАЛТ»" data-original-title="ООО «ВИТ-КОНСАЛТ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/best.jpg" alt="ООО БЭСТ" data-original-title="ООО БЭСТ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/mchip.png" alt="Коллегия адвокатов «Муранов, Черняков и Партнеры» города Москвы" data-original-title="Коллегия адвокатов «Муранов, Черняков и Партнеры» города Москвы" data-toggle="tooltip">
                                    </figure>
                                </li>


                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/vchk.gif" alt="АО «НПО «Высокоточные комплексы»" data-original-title="АО «НПО «Высокоточные комплексы»" data-toggle="tooltip">
                                    </figure>
                                </li>

                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/nl.png" alt="НЛ КОНТИНЕНТ" data-original-title="НЛ КОНТИНЕНТ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/chp.png" alt="ООО «ЧЕЛЯБИНСК ПРОФИТ»" data-original-title="ООО «ЧЕЛЯБИНСК ПРОФИТ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rbl.jpg" alt="Адвокатское бюро RBL" data-original-title="Адвокатское бюро RBL" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/antr.png" alt="«Антал Раша»" data-original-title="«Антал Раша»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/cyzp.png" alt="ООО «ЦЮЗП»" data-original-title="ООО «ЦЮЗП»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/gpisk.png" alt="Ассоциация ГП и ЭСК" data-original-title="Ассоциация ГП и ЭСК" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/sc.png" alt="ООО «Сэтл Сити»" data-original-title="ООО «Сэтл Сити»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/pulsar.png" alt="ООО ПКФ «Пульсар-C»" data-original-title="ООО ПКФ «Пульсар-C»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/magistrat.png" alt="ООО «МАГИСТРАТ»" data-original-title="ООО «МАГИСТРАТ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ese.jpg" alt="Группа компаний ЭСЭ" data-original-title="Группа компаний ЭСЭ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/brusnika.png" alt="ООО «Брусника. Тюмень»" data-original-title="ООО «Брусника. Тюмень»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/pfcherkizovo.png" alt="УК Птицеводство Группы Черкизово" data-original-title="УК Птицеводство Группы Черкизово" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/chp.png" alt="ООО «ЧЕЛЯБИНСК ПРОФИТ»" data-original-title="ООО «ЧЕЛЯБИНСК ПРОФИТ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/gupukortk.png" alt="ГУП УК ОРТК СЕВАСТОПОЛЯ" data-original-title="ГУП УК ОРТК СЕВАСТОПОЛЯ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ybm.png" alt="ООО ЮБМ" data-original-title="ООО ЮБМ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/drilling.png" alt="«КЦА ДОЙТАГ Дриллинг ГмбХ»" data-original-title="«КЦА ДОЙТАГ Дриллинг ГмбХ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/sergis.jpg" alt="Коллегия адвокатов «sergis»" data-original-title="Коллегия адвокатов «sergis»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/aspect.png" alt="ООО «Аспект-М»" data-original-title="ООО «Аспект-М»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/canon.jpg" alt="ООО «Канон Ру»" data-original-title="ООО «Канон Ру»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/nov.png" alt="НЭШЭНЛ ОИЛВЭЛЛ ВАРКО ЕВРАЗИЯ" data-original-title="НЭШЭНЛ ОИЛВЭЛЛ ВАРКО ЕВРАЗИЯ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/intouch.png" alt="АО «ИНТАЧ СТРАХОВАНИЕ»" data-original-title="АО «ИНТАЧ СТРАХОВАНИЕ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/usvr.png" alt="Юсвр, ООО" data-original-title="Юсвр, ООО" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ac.png" alt="Акционерное общество «Апелляционный центр»" data-original-title="Акционерное общество «Апелляционный центр»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/fcpf.png" alt="ФЦПФ" data-original-title="ФЦПФ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rtlabs.png" alt="АО «РТ Лабс»" data-original-title="АО «РТ Лабс»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/lev.png" alt="Группа компаний «ЛЕВЪ&ЛЕВЪ-АУДИТ»" data-original-title="Группа компаний «ЛЕВЪ&ЛЕВЪ-АУДИТ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/linklaters.png" alt="Филиал Частной компании с неограниченной ответственностью «Линклейтерз СНГ» (Великобритания)" data-original-title="Филиал Частной компании с неограниченной ответственностью «Линклейтерз СНГ» (Великобритания)" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ybm.png" alt="ООО ЮБМ" data-original-title="ООО ЮБМ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rkt.png" alt="ООО РКТ" data-original-title="ООО РКТ" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/uniservice.png" alt="ООО «УНИСЕРВИС-КОНСАЛТИНГ»" data-original-title="ООО «УНИСЕРВИС-КОНСАЛТИНГ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rgf.jpg" alt="АО Региональный фонд" data-original-title="АО Региональный фонд" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/usi.jpg" alt="ООО «ЮРИСТРОЙИНВЕСТ»" data-original-title="ООО «ЮРИСТРОЙИНВЕСТ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/cib.gif" alt="ЗАО «Сбербанк КИБ»" data-original-title="ЗАО «Сбербанк КИБ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/epaip.png" alt="Московский филиал Санкт-Петербургское Адвокатское Бюро «Егоров, Пугинский, Афанасьев и Партнеры»" data-original-title="Московский филиал Санкт-Петербургское Адвокатское Бюро «Егоров, Пугинский, Афанасьев и Партнеры»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/np.png" alt="ООО «НОРМА ПРАВА»" data-original-title="ООО «НОРМА ПРАВА»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ratm.gif" alt="РАТМ-Девелопмент" data-original-title="РАТМ-Девелопмент" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/aoelt.png" alt="АО «Электротранспорт»" data-original-title="АО «Электротранспорт»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/mitra.jpg" alt="Национальная юридическая компания «Митра»" data-original-title="Национальная юридическая компания «Митра»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/fanagoria.png" alt="Юрисконсульт ОАО «АПФ «Фанагория»" data-original-title="Юрисконсульт ОАО «АПФ «Фанагория»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/nlmk.png" alt="Новолипецкий металлургический комбинат" data-original-title="Новолипецкий металлургический комбинат" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/puip.png" alt="Адвокатское Бюро «Плешаков, Ушкалов и партнёры»" data-original-title="Адвокатское Бюро «Плешаков, Ушкалов и партнёры»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/bip.png" alt="Московская коллегия адвокатов «Благушина и партнеры»" data-original-title="Московская коллегия адвокатов «Благушина и партнеры»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/runtime.png" alt="ООО «Рантайм»" data-original-title="ООО «Рантайм»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/uksib.png" alt="ООО УК «СИБИРЯК»" data-original-title="ООО УК «СИБИРЯК»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/emp.jpg" alt="ОАО Ейский Морской порт" data-original-title="ОАО Ейский Морской порт" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/nh.png" alt="Новосибхолод" data-original-title="Новосибхолод" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/skk.png" alt="Стройкапитал консалтинг" data-original-title="Стройкапитал консалтинг" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/nrf.png" alt="Norton rose fulbright" data-original-title="Norton rose fulbright" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/fcpf.png" alt="ОАО «Федеральный центр проектного финансирования»" data-original-title="ОАО «Федеральный центр проектного финансирования»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/kyr.png" alt="Общество с ограниченной ответственностью ЮЦ «Кредитные Юристы»" data-original-title="Общество с ограниченной ответственностью ЮЦ «Кредитные Юристы»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/axi.gif" alt="ООО «АКСИОМА КОНСАЛТ»" data-original-title="ООО «АКСИОМА КОНСАЛТ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rusatm.png" alt="АО «Русатом Энерго Интернешнл»" data-original-title="АО «Русатом Энерго Интернешнл»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ilp.png" alt="ООО «ИнвестЛесПром»" data-original-title="ООО «ИнвестЛесПром»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/evro-servis.png" alt="ЗАО «Фирма ЕВРОСЕРВИС»" data-original-title="ЗАО «Фирма ЕВРОСЕРВИС»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/tek.png" alt="ОАО «Тольяттинская энергосбытовая компания»" data-original-title="ОАО «Тольяттинская энергосбытовая компания»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/ht.png" alt="ООО «Хендэ-Тверь»" data-original-title="ООО «Хендэ-Тверь»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/lp.png" alt="Адвокатское бюро «Линия права»" data-original-title="Адвокатское бюро «Линия права»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/vp.png" alt="Общество с ограниченной ответственностью «Центр АвтоПомощи «ВАШЕ ПРАВО»" data-original-title="Общество с ограниченной ответственностью «Центр АвтоПомощи «ВАШЕ ПРАВО»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/prometey.png" alt="ООО «Прометей право»" data-original-title="ООО «Прометей право»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/bt.png" alt="АО «БИГ Телеком»" data-original-title="АО «БИГ Телеком»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rst.jpg" alt="ООО «Русская строительная компания»" data-original-title="ООО «Русская строительная компания»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/dm.png" alt="Общество с ограниченной ответственностью «Древмаш»" data-original-title="Общество с ограниченной ответственностью «Древмаш»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/nb.jpg" alt="Коллегия адвокатов «Налоговая безопасность» Республики Башкортостан" data-original-title="Коллегия адвокатов «Налоговая безопасность» Республики Башкортостан" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/dpf.png" alt="Общество с ограниченной ответственностью «ДПФ Консалтинг Групп»" data-original-title="Общество с ограниченной ответственностью «ДПФ Консалтинг Групп»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/dk.png" alt="Деталькредит ипотечный банк" data-original-title="Деталькредит ипотечный банк" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/b.png" alt="«АДВОКАТ БУРДЕЕВ Борис Викторович»" data-original-title="«АДВОКАТ БУРДЕЕВ Борис Викторович»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/canon.jpg" alt="ООО «Канон Ру»" data-original-title="ООО «Канон Ру»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/vs_consult.png" alt="ВС консалт" data-original-title="ВС консалт" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rehau.png" alt="REHAU" data-original-title="REHAU" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/miller.png" alt="Нотариус Миллер Н.Н." data-original-title="Нотариус Миллер Н.Н." data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/tgv.jpg" alt="Ти Джи Ви. Инжиниринговая компания" data-original-title="Ти Джи Ви. Инжиниринговая компания" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/lexinvest.png" alt="Адвокатское бюро «Лекс Инвест»" data-original-title="Адвокатское бюро «Лекс Инвест»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/rif.gif" alt="АО «РИФ»" data-original-title="АО «РИФ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <!--<li>
                                        <figure>
                                            <img src="../assets/images/clients/smic.jpg" alt="Эс Эм Ай Капитал" data-original-title="Эс Эм Ай Капитал" data-toggle="tooltip">
                                        </figure>
                                    </li>-->
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/efco.png" alt="АО «УК ЭФКО»" data-original-title="АО «УК ЭФКО»" data-toggle="tooltip">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../assets/images/clients/szg.png" alt="ОАО «СЫЗРАНЬГАЗ»" data-original-title="ОАО «СЫЗРАНЬГАЗ»" data-toggle="tooltip">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <footer id="footer" role="contentinfo">
        <section class="section swatch-gray section-inner-shadow">
            <div class="container">
                <div class="row element-normal-top element-no-bottom footer-bottom-row">
                    <div class="col-md-6">
                        <p><a href="https://www.lextorium.com/oferta.shtml" class="gray">Оферты</a>&nbsp;&nbsp;&nbsp;<a href="https://www.lextorium.com/oferty/personal-data.pdf" class="gray">Политика конфиденциальности</a>
                        </p>
                    </div>
                    <div class="col-md-6 text-right element-medium-bottom">
                        <h2 class="element-very-short-bottom">Лексториум в соцсетях</h2>
                        <a href="https://vk.com/lextorium" target="_blank">
                            <img src="../assets/images/social/vk.png" border="0">
                        </a>&nbsp;
                        <a href="https://www.youtube.com/channel/UChB6vfEYCsBxEd38OUCwFxw" target="_blank">
                            <img src="../assets/images/social/youtube.png" border="0">
                        </a>&nbsp;
                        <a href="https://www.facebook.com/lextorium.ru/" target="_blank">
                            <img src="https://www.lextorium.com/35fblogo.png" border="0">
                        </a>
                    </div>
                </div>
                <div class="row element-short-top element-no-bottom footer-bottom-row">
                    <div class="col-md-12">
                        <h2 class="element-very-short-bottom">Контакты</h2>
                        <p><i class="fa fa-map-marker"></i>&nbsp;Адрес для почты: 123308, Москва, Проспект Маршала Жукова, дом 2, пом.I, к. 19, оф. 12</p>
                        <p><i class="fa fa-envelope"></i>&nbsp;E-mail: <a class="gray" href="mailto:info@lextorium.ru">info@lextorium.ru</a>
                        </p>
                        <p class="text-center">
                            <img src="../assets/images/icons/18plus.png" alt="">
                        </p>
                    </div>
                </div>
                <div class="row element-short-top element-short-bottom">
                    <div class="col-md-6 light-gray">
                        <p class="gray">Все права защищены &copy; 2017–2019 <a href="https://www.lextorium.com" class="gray">Lextorium</a></p>
                    </div>
                    <div class="col-md-6 light-gray text-right">
                        
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
<script src="../assets/js/packages.min.js"></script>
<script src="../assets/js/theme.min.js"></script>

<!-- Start Modal for review-form -->
<div class="modal fade" id="reviewFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Оставьте свой отзыв</h4>
      </div>
      <div class="modal-body">
		<form action="https://docs.google.com/forms/d/e/1FAIpQLSdCcmCyBTW4qvoUFndKbwcLBKBqqaR8UBYt6JI0PhfXML0DNg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;" onsubmit="submitted=true;">
            <fieldset>
				<div class="form-group form-icon-group">
					<input type="text" jsname="YPqjbf" id="comment" name="entry.571529561" placeholder="Ваше имя" class="input-block-level form-control"><i class="fa fa-user"></i>
			</div>
			<div class="form-group form-icon-group">
				<input type="text" jsname="YPqjbf" id="comment" name="entry.554955078" placeholder="Ваш email" class="input-block-level form-control"><i class="fa fa-envelope"></i>
			</div>
			<div class="form-group form-icon-group">
				<textarea id="comment" name="entry.1005007534" placeholder="Ваш вопрос" class="input-block-level form-control" rows="3"></textarea><i class="fa fa-pencil"></i>
			</div>
			<div class="form-group small-screen-center">
				<div class="controls small-screen-center text-right">
					<button name="submit" type="submit" class="btn btn-primary btn-icon btn-icon-right" id="submit" value="Отправить">
							Отправить <span><i class="fa fa-comment"></i></span>
						</button>
				</div>
			</div>
		</fieldset>
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for review-form -->


<div class="modal fade" id="modalNeedLogin" tabindex="-1" role="dialog" aria-labelledby="modalNeedLoginLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalNeedLoginLabel">Необходимо авторизоваться</h4>
            </div>
            <div class="modal-body">
                    Пожалуйста, войдите или зарегистрируйтесь.
            </div>
            <div class="modal-footer text-center">
                <a href="https://account.lextorium.com/login.html" rel="login" class="btn btn-primary">Вход</a>
                <a href="https://account.lextorium.com/signup.html" rel="login" class="btn btn-primary">Регистрация</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPayNotLogin" tabindex="-1" role="dialog" aria-labelledby="modalPayNotLoginLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalPayNotLoginLabel">Необходимо авторизоваться</h4>
            </div>
            <div class="modal-body">
                    Для оплаты Вам необходимо войти или зарегистрироваться
            </div>
            <div class="modal-footer text-center">
                <a href="https://account.lextorium.com/login.html" rel="login" class="btn btn-primary">Вход</a>
                <a href="https://account.lextorium.com/signup.html" rel="login" class="btn btn-primary">Регистрация</a>
                    
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="type2Modal" tabindex="-1" role="dialog" aria-labelledby="type2ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="type2ModalLabel">Необходима оплата</h4>
            </div>
            <div class="modal-body">
                    Чтобы получить возможность задать вопрос спикерам или получить доступ к материалам, Вам необходимо оплатить доступ к участию в семинаре.
            </div>
            <div class="modal-footer text-center">
                <a href="
::LANDINGURL::
                    " class="btn btn-success" onclick="$('#type2Modal').modal('hide')">Получить доступ</a>
            </div>
        </div>
    </div>
</div>
</body>


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>

if (castactive==0){
	
    (function() {
        var widget_id = 'mAePbymGX4';
        var d = document;
        var w = window;

        function l() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//code.jivosite.com/script/widget/' + widget_id;
            var ss = document.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss);
        }
        if (d.readyState == 'complete') {
            l();
        } else {
            if (w.attachEvent) {
                w.attachEvent('onload', l);
            } else {
                w.addEventListener('load', l, false);
            }
        }
    })();

};

</script>
<!-- {/literal} END JIVOSITE CODE -->




<script>

if (castactive==1){
var obj = document.getElementById("televizor")
obj.innerHTML = '<iframe src="//playercdn.cdnvideo.ru/aloha/players/cdne7_player.html"  frameborder="0" width="100%" height="100%" scrolling="no" style="overflow:hidden;" allowfullscreen> </iframe>';
};


function chatmessage(){
var newmessage = document.getElementById('entertext').value;
$.post( "https://webcast.lextorium.com/cgi-bin/chatnewmessage.pl", { messagetext: newmessage, eventid: eventid })
  .done(function( data ) {
	  document.getElementById('entertext').value = "";
	  document.getElementById('chatiframe').contentWindow.location.reload(true);
  });
};


function handleKeyPress(e) {
	if(e.keyCode == 13){
		chatmessage();
    }
};    

document.getElementById("entertext").focus();

</script>

::CLOSEEVENT::

<script>if(window.location.protocol=='http:'){window.location = "https://webcast.lextorium.com/event/"+eventid;};</script>

<img src="https://lextorium.com/zeropixel.png" width="0" height="0" id="amozeropixel"><script>function getCookie(name) {var matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)")); return matches ? decodeURIComponent(matches[1]) : undefined;};var googleid = getCookie("_ga");var lexuseremail = getCookie("useremail");var lexurl =  window.location.href;document.getElementById("amozeropixel").src="https://www.lextorium.com/cgi-bin/amocrmexport.pl?lexuseremail="+lexuseremail+"&googleid="+googleid+"&lexurl="+lexurl;</script>

</html>
<!-- asdqwe -->