<ul>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-1.pdf" target="_blank">
Компания хочет застраховать ответственность директора. Какие правовые риски придется учесть</a>
<small class="post-date">
Анна Архипова</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-2.pdf" target="_blank">
Компания считает действия директора неразумными. Когда ему удастся избежать ответственности</a>
<small class="post-date">
Елена Ключарева</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-3.pdf" target="_blank">
Доктрина корпоративной предпринимательской возможности. Как ее применяют в России и США</a>
<small class="post-date">
Павел Тарасов</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-4.pdf" target="_blank">
Участник корпорации нарушает фидуциарные обязанности. Два способа привлечь его к ответственности</a>
<small class="post-date">
Андрей Егоров</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-5.pdf" target="_blank">
Конфликт интересов в обществе. Как участнику защитить свои права на основе принципа лояльности</a>
<small class="post-date">
Айнур Шайдуллин</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-6.pdf" target="_blank">
Директор причинил обществу убытки. Как переместить на него бремя доказывания</a>
<small class="post-date">
Анастасия Шамшина</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-7.pdf" target="_blank">
Руководитель причинил деликт против третьего лица. Когда удастся взыскать убытки за счет личного имущества директора</a>
<small class="post-date">
Михаил Шавалеев</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-8.pdf" target="_blank">
Компании причинен вред. Как с помощью научных подходов доказать причинную связь деяния и вреда</a>
<small class="post-date">
Вера Алейникова</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-9.pdf" target="_blank">
Компания хочет привлечь директора к ответственности. Какие обстоятельства придется доказать в суде</a>
<small class="post-date">
Вера Алейникова</small>
</li>

<li class="clearfix">
<div class="post-icon"><img width="150" height="150" src="https://webcast.lextorium.com/pdf-220.jpg" class="attachment-thumbnail" alt=""></div>
<a href="https://webcast.lextorium.com/castcontent/obyazat-vesch-pravo-article-10.pdf" target="_blank">
Права миноритариев были нарушены. Как прямое возмещение поможет эффективно защитить их интересы</a>
<small class="post-date">
Татьяна Бойко</small>
</li>

</ul>